body {
    background-color:darkolivegreen;
}

h1 {
    text-align: center;
}

.head1 {
    background-color:lightgrey;
}

#head2 {
    background-color: rgb(66, 104, 109);
    color: azure;
}

.nav-bar {
    background-color: darkgrey;
    color:darkolivegreen;
    text-align:center;
}

.content {
    background-color: beige;
    color: black;
    text-align:center;
}

.footer {
    padding:20px;
    font-style:italic;
}

h1.content {
    color:#5B4E48; 
}

p a {
    color:#D3CAC1;
    padding:10px;
    font-style:italic;
}
