body {
    background-color:rgb(114, 90, 104);
}

h1 {
    text-align: center;
}

.head1 {
    background-color:lightgrey;
}

#head2 {
    background-color: rgb(66, 104, 109);
    color: azure;
}

.nav-bar {
    background-color: darkgrey;
    color:#725a68;
    text-align:center;
}

.content {
    background-color: beige;
    color: black;
    text-align:center;
}

.footer {
    padding:20px;
    font-style:italic;
}

h1.content {
    color:#5b4e48; 
}

p a {
    color:#d3cac1;
    background-color:#5b4e48;
    padding:10px;
    font-style:italic;
}

div > h1 {
    color:#d3bcc9;
    background-color:#725a68;
    padding:10px;
}

h1 + p {
    font-size:25px;
    font-style:bold;
    color:#bfaeb0;
}
