body {
    background-color:#756a6b;
}

h1 {
    text-align: center;
}

.head1 {
    background-color:lightgrey;
}

#head2 {
    background-color: rgb(66, 104, 109);
    color:#bfaeb0;
}

.nav-bar a {
    background-color: darkgrey;
    text-align:center;
    padding:20px;
}

.content {
    background-color:#887a71;
    color:#bfaeb0;
    text-align:center;
}

.footer {
    padding:20px;
    font-style:italic;
    color:#d3bcbf;
}

h1.content {
    color:#5b4e48; 
}

p a {
    color:#d3cac1;
    background-color:#5b4e48;
    padding:10px;
    font-style:italic;
}

.qwerty > h1 {
    color:#d3bcc9;
    background-color:#5b4e48;
    padding:10px;
}

h1 + p{
    font-size:25px;
    font-style:bold;
    color:#bfaeb0;
}

h2.content {
    background-color:#b6ada4;
}

h2 a {
    color:#d3cac1;
}

img {
    width:560px;
    height:300px;
}

footer:hover {
    color:#ebe5e7; 
}

a:link {
    color:#887a71;
}

a:visited {
    color:#ebe5e7;
}

a:hover {
    color:#62161e;
}

a:active {
    color:#7a7c57;
}

p::first-line {
    color:#1e1d1b;
}
p::first-letter {
    font-weight:bold;
}

p::before {
    content:'HII';
    color:#887a71;
}

p::after {
    content:'SEE YA';
    color:#887a71;
    font-style:italic;
}
